.block {
    width: 100px;
    height: 100px;
    padding: 10px;
    margin: 10px;
    border: 1px solid red;
}

.inline {
    display: inline-block;
    width: 100px;
    height: 100px;
    padding: 10px;
    margin: 10px;
    border: 1px solid green;
}