body {
    margin: 0;
}

.main {
    height: 75vh;
    width: 75vw;
    background-color: aqua;
}

.inside {
    position: relative;
    top: 35px;
    height: 30px;
    width: 30px;
    background-color: red;
    z-index: 0;
}

p {
    position: relative;
    z-index: 1;
    margin: 0;
}

.parent {
    height: 100vh;
    width: 100vw;
    background-color: rgba(0,0,0,0.2);
}

.child {
    position: relative;
    top: 50%;
    left: 50%;
    width: 300px;
    height: 300px;
    transform: translate(-50%, -50%);
    background-color: rgba(0, 0, 0, 0.5);
    box-shadow: rgba(0, 0, 0, 0.8) 0px 7px 29px 0px;
    border-radius: 3px;
}